<h2>Rentre un gossip</h2>

<%= form_tag("/gossips/new", method: "post") do %>
  <%= label_tag(:content, "Mets-nous du croustillant :") %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("Balance tes potes") %>
<% end %>
